<html>
    <head>
        <title>Busking</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>

          function searchBus() {
              var query = document.getElementById("query").value;
              //버스 차량번호인 경우
              var koreanRex = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
              if(koreanRex.test(query)) {
                  searchByLicenseNumber(query);
                  return;
              }
              //고유번호
              if(query.startsWith("#")) {
                  searchByID(query);
                  return;
              }
              //노선번호
              var busNumberRex = /[0-9]/;
              if(busNumberRex.test(query)) {
                  showMapByLineNumber(query);
                  return;
              }
              alert("버스 번호, #번호, 차량등록번호 형태로 입력해주세요");
          }


          function searchByLicenseNumber(query){
              alert("버스 등록번호로 검색");
              window.location = "./communication.html?query=" + query;
          }
          function searchByID(query) {
              alert("고유 번호로 검색");
              window.location = "./communication.html?query=" + query;
          }
          function showMapByLineNumber(query) {
              window.location = "http://127.0.0.1:3000/busMap/" + query;
          }

        </script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    </head>
    <body>
        <!-- <img class="col-sm-12 col-md-4" src="https://about.canva.com/wp-content/uploads/sites/3/2016/08/Band-Logo.png" /> -->
        <br/>
        <input class="col-sm-12 col-md-4" style="width:500; height: 30;" type="text" id="query" name="query" maxlength="9" placeholder="버스 번호, #번호, 차량등록번호를 입력해주세요"/>
        <button id="btnSearch" class="col-sm-12 col-md-3" onclick="searchBus()">검색</button>



    </body>
